@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.header {
  width: 1440px;
  height: 90px;

  position: absolute;

  top: 0;
  left: 12.5%;

  background-color: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header__title {
  width: 230px;
  height: 31px;

  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: #ffffff;

  display: inline-block;

  margin-right: 158px;
  margin-left: 120px;
  margin-top: 25px;
}

.header__title::before {
  content: "";
  display: inline-block;

  margin-right: 6px;

  height: 30px;
  width: 30px;

  background-image: url(../img/icons/Vector.svg);
  background-repeat: no-repeat;
}

.header__navigation {
  width: 527px;
  height: 21px;

  display: inline-block;
}

.navigaition__list li {
  margin-right: 42px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  display: inline-block;
}

.item {
  margin-right: 42px;
  color: #ffffff;
}

.list__item-4 {
  color: #ffffff;
}

.navigaition__list li:last-child {
  margin-right: 0;
}

.header__login {
  width: 103px;
  height: 41px;

  margin-left: 196px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;

  background-color: #0d606f;

  border-radius: 10px;
}

.wrapper {
  height: 765px;
  width: 1440px;

  margin: 0 auto;
  padding-top: 122px;
  padding-left: 120px;

  background-image: url(/travel/img/garrett-parker.jpg);
  background-repeat: no-repeat;
}

.wrapper__preview {
  height: 422px;
  width: 892px;
  color: #ffffff;
}

.preview__title {
  height: 174px;
  width: 801px;

  font-style: normal;
  font-weight: 700;
  font-size: 80px;

  margin-bottom: 53px;
}

.preview__subtitle {
  font-style: italic;
  font-weight: 700;
  font-size: 20px;

  margin-bottom: 46px;
}

.preview__form {
  width: 892px;
  height: 95px;

  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}

.form__wrapper {
  display: inline-block;
  width: 560px;
  height: 22px;
  margin-top: 32px;
  margin-left: 41px;
}

.wrapper__input {
  display: inline-block;

  width: 560px;
  height: 22px;

  background-color: rgba(255, 255, 255, 0.7);
}

.wrapper__input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  color: #f2785c;
}

.form__button {
  width: 228px;
  height: 59px;

  margin-top: 18px;
  margin-left: 45px;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;

  background-color: #0d606f;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  display: inline-block;
}

.steps {
  width: 1177px;
  height: 247px;

  margin: 0 auto;
  margin-top: 81px;
}

.steps__title {
  width: 611px;
  height: 53px;

  margin-left: 283px;

  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #f2785c;
}

.steps__item-1 {
  display: inline-block;

  margin-left: 73px;
  margin-top: 40px;

  width: 100px;
  height: 100px;

  background-color: #f2785c;
  border-radius: 16px;
}

.item-1__icon {
  height: 45px;
  width: 50px;

  margin-top: 28px;
  margin-left: 25px;
}

.steps__item-2 {
  display: inline-block;

  margin-top: 40px;
  margin-left: 324px;

  width: 100px;
  height: 100px;

  background-color: #f2785c;
  border-radius: 16px;
}

.item-2__icon {
  height: 45px;
  width: 50px;

  margin-top: 28px;
  margin-left: 25px;
}

.steps__item-3 {
  display: inline-block;

  margin-top: 40px;
  margin-left: 324px;

  width: 100px;
  height: 100px;

  background-color: #f2785c;
  border-radius: 16px;
}

.item-3__icon {
  height: 45px;
  width: 50px;

  margin-top: 28px;
  margin-left: 25px;
}

.steps__description-1 {
  display: inline-block;

  width: 247px;
  height: 24px;

  margin-top: 30px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  color: #0d606f;
}

.steps__description-2 {
  display: inline-block;

  width: 222px;
  height: 24px;

  margin-top: 30px;
  margin-left: 205px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  color: #0d606f;
}

.steps__description-3 {
  display: inline-block;

  width: 317px;
  height: 24px;

  margin-top: 30px;
  margin-left: 160px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  color: #0d606f;
}

.destinations {
  border: 1px solid black;

  position: absolute;

  left: -540px;
  top: 1189px;

  width: 2520px;
  height: 1042px;
}

body {
  overflow-x: hidden;
}

.destinations__title {
  width: 501px;
  height: 53px;

  margin-left: 1200px;

  font-style: normal;
  font-weight: 500;
  font-size: 40px;

  color: #f2785c;
}

.destinations__photos {
  width: 2520px;
  height: 800px;

  margin-top: 46px;
}

.photos__photo-1 {
  display: inline-block;

  width: 800px;
  height: 800px;

  margin-right: 60px;

  background-image: url(../img/island.jpg);
  background-repeat: no-repeat;

  border-radius: 16px;
}

.photos__photo-2 {
  display: inline-block;

  width: 800px;
  height: 800px;

  margin-right: 40px;

  background-image: url(../img/japan.jpg);
  background-repeat: no-repeat;

  border-radius: 16px;
}

.photos__photo-3 {
  display: inline-block;

  width: 800px;
  height: 800px;

  background-image: url(../img/usa.jpg);
  background-repeat: no-repeat;

  border-radius: 16px;
}

.destinations__switches {
  width: 90px;
  height: 20px;

  margin-top: 24px;
  margin-left: 1204px;
}

.switches__item-1 {
  display: inline-block;

  width: 20px;
  height: 20px;

  margin-right: 10px;

  background-color: rgba(242, 120, 92, 0.5);

  border-radius: 50%;
}

.switches__item-2 {
  display: inline-block;

  width: 20px;
  height: 20px;

  margin-right: 10px;

  background-color: #f2785c;

  border-radius: 50%;
}

.switches__item-3 {
  display: inline-block;

  width: 20px;
  height: 20px;

  background-color: rgba(242, 120, 92, 0.5);

  border-radius: 50%;
}

.destinations__search {
  width: 228px;
  height: 59px;

  margin-top: 40px;
  margin-left: 1138px;

  background-color: #0d606f;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
}

.search__text {
  display: inline-block;

  position: relative;

  width: 145px;
  height: 41px;

  margin-top: 13.5px;

  padding-left: 43px;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
}

.search__text::before {
  content: "";

  position: absolute;

  top: -6px;
  left: 0;

  display: inline-block;

  width: 40px;
  height: 40px;

  background-image: url(../img/icons/arrow-right.svg);
  background-repeat: no-repeat;
}

.travel-stories-title {
  width: 335px;
  height: 53px;

  margin: 0 auto;
  margin-top: 1228px;

  font-style: normal;
  font-weight: 500;
  font-size: 40px;

  color: #f2785c;
}

.stories {
  margin: 0 auto;
  margin-top: 48px;

  width: 1440px;
  height: 1331px;

  background-image: url(../img/mountain-with-boat.jpg);
  background-repeat: no-repeat;
}

.stories__wrapper {
  margin: 0 auto;

  margin-top: 55px;

  width: 1201px;
  height: 1171px;
}

.wrapper__item-1 {
  width: 1200px;
  height: 246.79px;
}

.item-1__img {
  display: inline-block;

  width: 400px;
  height: 246.79px;

  margin-right: 40px;

  background-image: url(../img/thailand.jpg);
  background-repeat: no-repeat;

  border-radius: 16px;
}

.item-1__text {
  width: 740px;
  height: 225px;
  display: inline-block;
}

.text__title {
  display: inline-block;

  width: 524px;
  height: 42px;

  font-style: normal;
  font-weight: 400;
  font-size: 35px;

  color: #0d606f;

  margin-bottom: 23.69px;
}

.text__subtitle {
  display: inline-block;

  width: 760px;
  height: 157px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  color: #0d606f;
}
